bootstrap:
  enabled: true
  logLevel: INFO

  image:
    name: dtrack-bootstrap
    repository: docker.io/kvalitetsit/dtrack-bootstrap
    tag: yolo

  baseUrl: http://dependencytrack-backend:8080/api
  frontendBaseUrl:

  defaultAdminPassword: admin
  adminPassword:
    value: todo
    secret:
      name: dtrack-bootstrap
      key: admin-password

  github:
    advisory_mirroring_token:
      value:
      secret:
        name:
        key:

  google:
    osv_enabled: true

  users:
    - username: console
      password: todo

  trivy:
    ignore_unfixed: true
    api_token:
      value:
      secret:
        name:
        key:

    base_url: http://dependencytrack-trivy:4954

  oss_index:
    username:
    token:
      value:
      secret:
        name:
        key:

backend:
  logLevel: INFO
  image:
    name: apiserver
    repository: dependencytrack
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: 4.13.4
  replicaCount: 2
  resources:
    requests:
      memory: 4Gi
      cpu: "1"
  outbound: []
  ingress:
  livenessProbe:
    enabled: true
    path: "/api/version"
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 2
    successThreshold: 1
    failureThreshold: 3
  readinessProbe:
    enabled: true
    path: "/"
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 2
    successThreshold: 1
    failureThreshold: 3

  postgresql:
    enabled: true
    database: dependencytrack
    password:
    username:
    host: 127.0.0.1
    port: 5432
    connectionName:
    ip:

  serviceAccount:
    create: true

  persistence:
    accessMode: ReadWriteOnce
    size: 10Gi
    storageClass: "standard"
    existingClaim: ""
    enableStatefulSetAutoDeletePVC: true
    whenDeleted: Delete
    whenScaled: Delete
  env:
    ALPINE_OIDC_ENABLED: true
    ALPINE_OIDC_ISSUER:
    ALPINE_OIDC_CLIENT_ID:
    ALPINE_OIDC_USERNAME_CLAIM: email
    #ALPINE_OIDC_TEAMS_CLAIM: groups
    ALPINE_OIDC_USER_PROVISIONING: true
    # Optional Cross-Origin Resource Sharing (CORS) Headers
    ALPINE_CORS_ENABLED: true
    ALPINE_CORS_ALLOW_ORIGIN:
    ALPINE_CORS_ALLOW_METHODS: GET, POST, PUT, PATCH, DELETE, OPTIONS
    ALPINE_CORS_ALLOW_HEADERS: Origin, Content-Type, Authorization, X-Requested-With, Content-Length, Accept, Origin, X-Api-Key, X-Total-Count, *
    ALPINE_CORS_EXPOSE_HEADERS: Origin, Content-Type, Authorization, X-Requested-With, Content-Length, Accept, Origin, X-Api-Key, X-Total-Count
    ALPINE_CORS_ALLOW_CREDENTIALS: true
    ALPINE_CORS_MAX_AGE: 3600
    ALPINE_METRICS_ENABLED: true
    LOGGING_CONFIG_PATH: logback-json.xml
    # ALPINE_OIDC_TEAM_SYNCHRONIZATION: true

frontend:
  swagger:
    enabled: false
    path: /swagger
    port: 8181
  image:
    name: frontend
    repository: dependencytrack
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: 4.13.4
  replicaCount: 1
  resources:
    requests:
      memory: 256Mi
      cpu: "1"
  outbound: []
  ingress:
  env:
    API_BASE_URL:
    OIDC_ISSUER:
    OIDC_CLIENT_ID:

trivy:
  replicaCount: 1
  image:
    registry: "ghcr.io"
    repository: "aquasecurity/trivy"
    tag: "0.63.0"

  serverToken: "todo"

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
