name: PR Check

on:
  pull_request:
    paths-ignore:
      - '*.md'
      - 'LICENSE.md'

permissions:
  contents: read

jobs:
  test-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ./go.mod
          cache-dependency-path: ./go.sum

      - name: Run tests
        run: make test

      - name: Check for static code and security issues
        run: make check

      - name: Run integration tests
        run: make integration_test


